.section-contact {
  height: 45vh;

  background-image: linear-gradient(to right bottom, rgba($color-black, .7), rgba($color-black, .7)), url("../img/section-contact/city.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;
}