.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba($color-black, .8), rgba($color-black, .8)),
    url("../img/code.jpg");
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  text-align: center;

  &__name {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__row {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;

    font-size: 3rem;

    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 1px solid $color-white;

    &-down {
      @include absCenter();
      margin-top: -.4rem;
    }
  }
}